*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/bg-intro-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(0, 100%, 74%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.general{
    margin-top: 30px;
}

.try{
    /* border: 3px solid blue; */
    padding: 15px;
    border-radius: 5px;
    background-color: hsl(248, 32%, 49%);
    color: white;
    text-align: center;
    margin-bottom: 20px;

}

.form-1{
    /* border: 3px solid green; */
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    /* gap: 20px; */
}

.intro{
    /* border: 3px solid blue; */
    color: white;
    width: 600px ;
    padding: 50px;
    margin-top: 60px;
    text-align: start;
    /* max-width: 500px; */
    
}

h1{
    font-family: 'Cambria','Cochin', Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 50px;
    margin-bottom:30px;
    /* line-height: 1.5px; */
    word-wrap: break-word;
    overflow: hidden;

}

p{
    line-height: 20px;
}

input{
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    border-color: red;
    margin-bottom: 10px;
    margin-top: 20px;
}

.input-icon{
    background: url(./images/icon-error.svg) no-repeat right 10px center; 
}

input::placeholder{
    color: black;
    font-style: italic;
}

small{
    font-style: italic;
    color: red;
    /* display: flex;
    justify-content: right; */
    float: right;
}

button{
    width: 100%;
    background-color: hsl(154, 59%, 51%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: none;

}
.btn{
    margin-top: 30px;
    margin-bottom: 20px;

}

@media(max-width: 600px){
    body{
        border: 3px solid blue;
        background-image: url(./images/bg-intro-mobile.png);
        flex-direction: column;
        background-color: hsl(0, 100%, 74%);;
    }

    input{
        max-width: 100%;
    }

    .intro{
        text-align: center;
    }

    .input{
        
    }
}